In [1]:
import pandas as pd
import mysql.connector
from dotenv import load_dotenv
import os

# Load environment variables
load_dotenv()

mydb = mysql.connector.connect(
    host=os.getenv('MYSQL_HOST'),
    user=os.getenv('MYSQL_USER'),
    password=os.getenv('MYSQL_PASSWORD'),
    database=os.getenv('MYSQL_DATABASE')
)
cursor = mydb.cursor()

cursor.execute("select * from accounts")

results = cursor.fetchall();
for r in results:
    print(r)

(1, 1, 'Savings', Decimal('5000.00'), Decimal('1000.00'), datetime.date(2020, 2, 1))
(2, 2, 'Checking', Decimal('2500.00'), Decimal('500.00'), datetime.date(2019, 11, 15))
(3, 3, 'Credit Card', Decimal('300.00'), Decimal('100.00'), datetime.date(2021, 1, 20))
(4, 4, 'Savings', Decimal('800.00'), Decimal('200.00'), datetime.date(2023, 6, 10))
(5, 5, 'Checking', Decimal('600.00'), Decimal('300.00'), datetime.date(2020, 12, 30))

In [2]:
df = pd.read_csv('churn_data.csv')

create_table = """CREATE TABLE IF NOT EXISTS churn (
    customer_id VARCHAR(50) PRIMARY KEY,
    gender VARCHAR(10),
    customer_age INT,
    marital_status VARCHAR(20),
    occupation VARCHAR(50),
    location VARCHAR(50),
    customer_credit_score INT,
    customer_total_transactions INT,
    customer_total_cash_balance DECIMAL(15, 2),
    customer_total_cards INT,                    -- Total number of cards
    customer_total_accounts INT,                 -- Total number of accounts
    customer_total_debt DECIMAL(15, 2),          -- Total debt or outstanding balance
    customer_total_loans INT,                    -- Total number of loans
    customer_total_savings_accounts INT,         -- Total number of savings accounts
    customer_total_checking_accounts INT,        -- Total number of checking accounts
    customer_total_credit_accounts INT,          -- Total number of credit accounts
    customer_total_mortgage_accounts INT,        -- Total number of mortgage accounts
    customer_account_utilization_rate DECIMAL(15, 2), -- Utilization rate (credit utilization)
    customer_long_term_savings DECIMAL(15, 2),   -- Long-term savings balance
    customer_short_term_savings DECIMAL(15, 2),  -- Short-term savings balance
    customer_active_credit_cards INT,            -- Number of active credit cards
    customer_overdue_payments INT                -- Number of overdue payments
)"""

cursor.execute(create_table)

for index, row in df.iterrows():
    insert_query = """INSERT IGNORE INTO churn (customer_id, gender, customer_age, marital_status, occupation, location, customer_credit_score, 
    customer_total_transactions, customer_total_cash_balance, customer_total_cards, customer_total_accounts, 
    customer_total_debt, customer_total_loans, customer_total_savings_accounts, customer_total_checking_accounts, 
    customer_total_credit_accounts, customer_total_mortgage_accounts, customer_account_utilization_rate, 
    customer_long_term_savings, customer_short_term_savings, customer_active_credit_cards, customer_overdue_payments)
    VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    values = tuple(row)
    cursor.execute(insert_query, values)

cursor.execute("select * from churn")
results = cursor.fetchall()
for r in results:
    print(r)
mydb.commit()
cursor.close()
mydb.close()

('CUST_1', 'Male', 30, 'Married', 'Physical Therapist', 'Columbus', 760, 34, Decimal('72230.44'), 3, 5, Decimal('6386.85'), 3, 2, 2, 2, 7, Decimal('0.41'), Decimal('62015.37'), Decimal('25426.30'), 1, 0)
('CUST_10', 'Female', 63, 'Widowed', 'Producer', 'New York', 755, 63, Decimal('15302.87'), 3, 4, Decimal('24318.83'), 3, 0, 15, 9, 7, Decimal('0.50'), Decimal('128820.78'), Decimal('64410.39'), 16, 0)
('CUST_100', 'Male', 64, 'Widowed', 'Waiter/Waitress', 'Phoenix', 581, 34, Decimal('10028.84'), 2, 5, Decimal('20476.51'), 1, 0, 7, 0, 4, Decimal('0.97'), Decimal('137007.54'), Decimal('132897.31'), 12, 0)
('CUST_11', 'Female', 54, 'Married', 'Digital Marketer', 'Los Angeles', 512, 79, Decimal('98289.80'), 4, 6, Decimal('46921.25'), 2, 2, 8, 3, 5, Decimal('0.33'), Decimal('139924.75'), Decimal('46175.17'), 13, 1)
('CUST_12', 'Male', 22, 'Married', 'Producer', 'Dallas', 385, 26, Decimal('9340.38'), 1, 5, Decimal('22747.30'), 4, 1, 18, 0, 8, Decimal('0.76'), Decimal('50762.89'), Decimal('38579.80'), 13, 1)
('CUST_13', 'Male', 41, 'Single', 'IT Support Specialist', 'Austin', 761, 1, Decimal('27603.42'), 4, 6, Decimal('6941.06'), 3, 0, 13, 1, 4, Decimal('0.17'), Decimal('132618.65'), Decimal('22545.17'), 7, 0)
('CUST_14', 'Male', 63, 'Married', 'Musician', 'Washington', 708, 96, Decimal('93153.68'), 3, 3, Decimal('18350.04'), 0, 1, 4, 0, 9, Decimal('0.87'), Decimal('66176.66'), Decimal('57573.69'), 1, 0)
('CUST_15', 'Female', 27, 'Divorced', 'Accountant', 'San Antonio', 627, 79, Decimal('1290.62'), 3, 6, Decimal('10700.15'), 3, 0, 18, 4, 4, Decimal('0.67'), Decimal('54984.87'), Decimal('36839.86'), 17, 0)
('CUST_16', 'Male', 34, 'Divorced', 'Software Engineer', 'Philadelphia', 698, 43, Decimal('58613.36'), 1, 8, Decimal('41531.92'), 4, 0, 18, 6, 2, Decimal('0.29'), Decimal('67889.86'), Decimal('19688.06'), 17, 0)
('CUST_17', 'Female', 43, 'Divorced', 'Security Guard', 'Washington', 385, 59, Decimal('72113.09'), 4, 3, Decimal('32415.98'), 0, 2, 17, 8, 3, Decimal('0.57'), Decimal('77310.19'), Decimal('44066.81'), 11, 1)
('CUST_18', 'Male', 44, 'Divorced', 'Film Director', 'Austin', 479, 70, Decimal('79697.80'), 3, 2, Decimal('38811.29'), 1, 2, 19, 2, 11, Decimal('0.37'), Decimal('72295.23'), Decimal('26749.24'), 11, 1)
('CUST_19', 'Male', 75, 'Single', 'Logistics Coordinator', 'Washington', 692, 19, Decimal('11091.81'), 4, 6, Decimal('10623.77'), 2, 1, 13, 8, 6, Decimal('0.99'), Decimal('132036.55'), Decimal('130716.18'), 7, 1)
('CUST_2', 'Female', 74, 'Single', 'Judge', 'Phoenix', 377, 23, Decimal('7439.49'), 3, 1, Decimal('22659.21'), 4, 1, 3, 4, 8, Decimal('0.70'), Decimal('141864.60'), Decimal('99305.22'), 7, 1)
('CUST_20', 'Male', 53, 'Divorced', 'Research Assistant', 'San Diego', 769, 72, Decimal('51712.78'), 1, 2, Decimal('34358.18'), 1, 0, 12, 9, 2, Decimal('0.56'), Decimal('39778.61'), Decimal('22276.02'), 8, 1)
('CUST_21', 'Male', 43, 'Divorced', 'Estate Planner', 'Phoenix', 587, 51, Decimal('11504.66'), 2, 7, Decimal('9927.28'), 4, 1, 16, 2, 1, Decimal('0.28'), Decimal('42082.39'), Decimal('11783.07'), 19, 0)
('CUST_22', 'Male', 71, 'Married', 'Financial Analyst', 'Houston', 456, 68, Decimal('48895.21'), 4, 1, Decimal('28277.46'), 4, 2, 9, 1, 12, Decimal('0.19'), Decimal('41627.94'), Decimal('7909.31'), 1, 0)
('CUST_23', 'Female', 54, 'Widowed', 'UX Designer', 'Washington', 732, 50, Decimal('29570.28'), 2, 2, Decimal('11557.75'), 0, 2, 6, 2, 2, Decimal('0.76'), Decimal('89382.60'), Decimal('67930.78'), 8, 1)
('CUST_24', 'Female', 74, 'Widowed', 'Bartender', 'Washington', 656, 61, Decimal('18753.62'), 1, 1, Decimal('27133.75'), 0, 0, 2, 3, 8, Decimal('0.67'), Decimal('67659.09'), Decimal('45331.59'), 18, 1)
('CUST_25', 'Male', 57, 'Widowed', 'Customer Service Representative', 'Austin', 402, 35, Decimal('76342.54'), 2, 8, Decimal('45790.74'), 1, 0, 11, 8, 12, Decimal('0.37'), Decimal('70609.29'), Decimal('26125.44'), 2, 0)
('CUST_26', 'Female', 39, 'Widowed', 'Waiter/Waitress', 'Dallas', 511, 46, Decimal('11781.35'), 1, 3, Decimal('48161.68'), 3, 0, 17, 5, 3, Decimal('0.71'), Decimal('139176.04'), Decimal('98814.99'), 26, 1)
('CUST_27', 'Female', 25, 'Divorced', 'Police Officer', 'Seattle', 560, 24, Decimal('53184.24'), 3, 1, Decimal('15983.80'), 0, 1, 7, 7, 8, Decimal('0.15'), Decimal('132463.67'), Decimal('19869.55'), 22, 1)
('CUST_28', 'Female', 73, 'Divorced', 'Pilot', 'Phoenix', 739, 74, Decimal('25960.83'), 4, 5, Decimal('13585.96'), 4, 2, 2, 7, 4, Decimal('0.17'), Decimal('70190.55'), Decimal('11932.39'), 21, 0)
('CUST_29', 'Male', 73, 'Married', 'Social Worker', 'Fort Worth', 415, 12, Decimal('49919.50'), 2, 1, Decimal('32538.29'), 3, 2, 5, 5, 12, Decimal('0.44'), Decimal('125909.66'), Decimal('55400.25'), 7, 1)
('CUST_3', 'Male', 43, 'Single', 'Software Developer', 'Washington', 501, 77, Decimal('80199.16'), 1, 9, Decimal('35613.60'), 2, 0, 1, 2, 8, Decimal('0.70'), Decimal('94821.04'), Decimal('66374.73'), 26, 0)
('CUST_30', 'Male', 71, 'Widowed', 'Architect', 'San Jose', 386, 34, Decimal('38664.75'), 2, 7, Decimal('19577.90'), 0, 2, 19, 2, 12, Decimal('0.14'), Decimal('126235.80'), Decimal('17673.01'), 6, 1)
('CUST_31', 'Female', 44, 'Single', 'Chiropractor', 'San Diego', 532, 12, Decimal('55359.01'), 3, 2, Decimal('35980.16'), 1, 1, 13, 4, 3, Decimal('0.13'), Decimal('107185.37'), Decimal('13934.10'), 10, 1)
('CUST_32', 'Female', 44, 'Married', 'Surgeon', 'San Antonio', 495, 17, Decimal('98660.68'), 1, 4, Decimal('30307.47'), 2, 2, 13, 1, 3, Decimal('0.86'), Decimal('68799.92'), Decimal('59167.93'), 5, 0)
('CUST_33', 'Female', 70, 'Divorced', 'Teacher', 'Columbus', 770, 11, Decimal('71615.37'), 1, 5, Decimal('34608.49'), 2, 1, 9, 1, 11, Decimal('0.80'), Decimal('64549.89'), Decimal('51639.91'), 3, 0)
('CUST_34', 'Female', 76, 'Married', 'Baker', 'San Diego', 676, 73, Decimal('1723.47'), 1, 7, Decimal('26938.45'), 2, 0, 11, 2, 1, Decimal('0.21'), Decimal('135702.99'), Decimal('28497.63'), 6, 0)
('CUST_35', 'Female', 66, 'Single', 'SEO Specialist', 'Columbus', 811, 94, Decimal('76630.30'), 1, 8, Decimal('12695.33'), 0, 2, 4, 1, 1, Decimal('0.49'), Decimal('121361.42'), Decimal('59467.10'), 26, 0)
('CUST_36', 'Female', 19, 'Married', 'Software Developer', 'Indianapolis', 674, 28, Decimal('80031.00'), 2, 4, Decimal('28612.19'), 3, 0, 3, 6, 6, Decimal('0.97'), Decimal('31421.14'), Decimal('30478.51'), 21, 0)
('CUST_37', 'Male', 23, 'Single', 'Interior Designer', 'Chicago', 549, 54, Decimal('55824.89'), 1, 5, Decimal('7854.07'), 0, 0, 3, 8, 5, Decimal('0.67'), Decimal('51167.26'), Decimal('34282.06'), 27, 1)
('CUST_38', 'Male', 53, 'Widowed', 'Software Engineer', 'Los Angeles', 395, 7, Decimal('45499.41'), 3, 6, Decimal('25399.17'), 2, 1, 8, 2, 2, Decimal('0.92'), Decimal('130968.47'), Decimal('120490.99'), 14, 0)
('CUST_39', 'Female', 62, 'Married', 'Engineer', 'Houston', 458, 94, Decimal('44160.49'), 3, 4, Decimal('9865.19'), 3, 1, 6, 2, 9, Decimal('0.59'), Decimal('133468.24'), Decimal('78746.26'), 2, 1)
('CUST_4', 'Female', 22, 'Widowed', 'Plumber', 'San Francisco', 643, 84, Decimal('59316.05'), 4, 2, Decimal('33414.79'), 3, 1, 16, 5, 6, Decimal('0.19'), Decimal('47568.59'), Decimal('9038.03'), 12, 0)
('CUST_40', 'Male', 45, 'Single', 'Influencer', 'San Antonio', 629, 87, Decimal('16908.18'), 3, 1, Decimal('47121.48'), 4, 1, 5, 3, 7, Decimal('0.94'), Decimal('92906.34'), Decimal('87331.96'), 2, 0)
('CUST_41', 'Male', 20, 'Married', 'Pharmacist', 'San Antonio', 518, 55, Decimal('4749.44'), 2, 4, Decimal('12613.80'), 2, 0, 15, 2, 1, Decimal('0.77'), Decimal('99482.39'), Decimal('76601.44'), 6, 1)
('CUST_42', 'Male', 59, 'Divorced', 'Professor', 'Charlotte', 490, 84, Decimal('24867.83'), 1, 6, Decimal('24340.49'), 1, 1, 19, 9, 0, Decimal('0.77'), Decimal('144889.43'), Decimal('111564.86'), 14, 1)
('CUST_43', 'Male', 56, 'Single', 'Animator', 'San Antonio', 541, 18, Decimal('38472.54'), 3, 5, Decimal('7853.90'), 4, 1, 10, 8, 11, Decimal('0.57'), Decimal('52465.02'), Decimal('29905.06'), 18, 0)
('CUST_44', 'Male', 24, 'Divorced', 'Bartender', 'Denver', 360, 50, Decimal('64528.28'), 3, 5, Decimal('34973.83'), 4, 1, 8, 6, 9, Decimal('0.93'), Decimal('146855.32'), Decimal('136575.45'), 29, 0)
('CUST_45', 'Male', 26, 'Widowed', 'Customer Service Representative', 'New York', 469, 73, Decimal('99135.39'), 2, 8, Decimal('48722.94'), 0, 0, 7, 6, 5, Decimal('0.83'), Decimal('110929.77'), Decimal('92071.71'), 11, 1)
('CUST_46', 'Male', 56, 'Married', 'Dentist', 'New York', 508, 77, Decimal('46661.88'), 3, 9, Decimal('7059.38'), 2, 2, 4, 3, 8, Decimal('0.11'), Decimal('130672.86'), Decimal('14374.01'), 8, 1)
('CUST_47', 'Male', 63, 'Widowed', 'Security Guard', 'Seattle', 677, 36, Decimal('10083.93'), 1, 7, Decimal('13474.27'), 4, 2, 19, 1, 1, Decimal('0.39'), Decimal('128488.48'), Decimal('50110.51'), 16, 1)
('CUST_48', 'Female', 25, 'Single', 'Chemist', 'Washington', 720, 23, Decimal('37825.98'), 3, 1, Decimal('21709.62'), 0, 1, 6, 9, 6, Decimal('0.74'), Decimal('49989.36'), Decimal('36992.13'), 25, 1)
('CUST_49', 'Female', 36, 'Single', 'Doctor', 'Denver', 512, 80, Decimal('43030.58'), 3, 6, Decimal('45183.92'), 2, 0, 13, 4, 0, Decimal('0.98'), Decimal('38908.97'), Decimal('38130.79'), 8, 1)
('CUST_5', 'Male', 20, 'Widowed', 'Teacher', 'Indianapolis', 793, 96, Decimal('86361.15'), 4, 3, Decimal('17524.15'), 4, 0, 17, 5, 13, Decimal('0.47'), Decimal('92475.88'), Decimal('43463.66'), 5, 0)
('CUST_50', 'Male', 18, 'Widowed', 'Legal Assistant', 'New York', 489, 95, Decimal('86335.71'), 2, 2, Decimal('37596.52'), 2, 1, 19, 5, 3, Decimal('0.84'), Decimal('122074.84'), Decimal('102542.87'), 10, 1)
('CUST_51', 'Male', 78, 'Widowed', 'Fashion Designer', 'Austin', 838, 79, Decimal('52575.85'), 1, 6, Decimal('17791.75'), 2, 1, 19, 8, 8, Decimal('0.88'), Decimal('58466.18'), Decimal('51450.24'), 7, 1)
('CUST_52', 'Female', 47, 'Widowed', 'Environmental Consultant', 'Austin', 341, 56, Decimal('28562.60'), 2, 4, Decimal('49907.45'), 0, 2, 10, 7, 5, Decimal('0.46'), Decimal('33983.98'), Decimal('15632.63'), 25, 0)
('CUST_53', 'Male', 57, 'Divorced', 'UX Designer', 'Los Angeles', 303, 30, Decimal('31379.86'), 3, 6, Decimal('40860.44'), 1, 0, 15, 8, 3, Decimal('0.90'), Decimal('79503.37'), Decimal('71553.03'), 12, 0)
('CUST_54', 'Male', 70, 'Widowed', 'Teacher', 'Seattle', 477, 26, Decimal('71380.41'), 1, 5, Decimal('40483.32'), 0, 2, 7, 8, 10, Decimal('0.32'), Decimal('75419.28'), Decimal('24134.17'), 4, 1)
('CUST_55', 'Male', 77, 'Married', 'Counselor', 'Fort Worth', 332, 1, Decimal('71172.02'), 1, 8, Decimal('29379.89'), 3, 2, 17, 9, 0, Decimal('0.40'), Decimal('55211.47'), Decimal('22084.59'), 16, 0)
('CUST_56', 'Male', 28, 'Widowed', 'Financial Analyst', 'Washington', 523, 83, Decimal('53137.80'), 1, 1, Decimal('7198.12'), 2, 0, 17, 9, 11, Decimal('0.64'), Decimal('118043.80'), Decimal('75548.03'), 3, 1)
('CUST_57', 'Male', 69, 'Single', 'Real Estate Agent', 'Seattle', 744, 2, Decimal('96751.24'), 4, 3, Decimal('18290.15'), 2, 2, 19, 5, 2, Decimal('0.11'), Decimal('65743.06'), Decimal('7231.74'), 9, 1)
('CUST_58', 'Male', 76, 'Single', 'Bartender', 'Columbus', 455, 7, Decimal('77703.15'), 4, 6, Decimal('21039.31'), 3, 2, 18, 8, 6, Decimal('0.76'), Decimal('111121.88'), Decimal('84452.63'), 27, 0)
('CUST_59', 'Male', 77, 'Married', 'Waiter/Waitress', 'Columbus', 319, 49, Decimal('1878.60'), 3, 5, Decimal('34308.09'), 4, 0, 4, 3, 2, Decimal('0.36'), Decimal('74999.87'), Decimal('26999.95'), 18, 0)
('CUST_6', 'Male', 24, 'Single', 'Dentist', 'Fort Worth', 770, 11, Decimal('3904.42'), 1, 7, Decimal('30075.84'), 0, 2, 2, 4, 2, Decimal('0.38'), Decimal('35336.83'), Decimal('13428.00'), 4, 0)
('CUST_60', 'Female', 25, 'Married', 'Graphic Designer', 'Philadelphia', 672, 82, Decimal('81938.52'), 1, 9, Decimal('20186.64'), 1, 2, 19, 9, 8, Decimal('0.76'), Decimal('69035.29'), Decimal('52466.82'), 15, 0)
('CUST_61', 'Female', 76, 'Married', 'Pilot', 'Washington', 626, 98, Decimal('50919.60'), 1, 1, Decimal('40712.21'), 1, 1, 16, 0, 3, Decimal('0.32'), Decimal('78946.29'), Decimal('25262.81'), 25, 0)
('CUST_62', 'Male', 28, 'Married', 'Product Manager', 'Fort Worth', 319, 21, Decimal('36127.42'), 2, 8, Decimal('20072.65'), 2, 0, 1, 9, 5, Decimal('0.32'), Decimal('110170.48'), Decimal('35254.55'), 29, 0)
('CUST_63', 'Male', 38, 'Married', 'Research Assistant', 'San Antonio', 753, 32, Decimal('9138.56'), 4, 8, Decimal('46108.59'), 0, 2, 6, 3, 7, Decimal('0.97'), Decimal('128300.51'), Decimal('124451.49'), 27, 0)
('CUST_64', 'Female', 60, 'Single', 'Investment Banker', 'Denver', 345, 10, Decimal('78808.11'), 1, 1, Decimal('32519.34'), 2, 0, 10, 7, 5, Decimal('0.30'), Decimal('37398.08'), Decimal('11219.42'), 18, 1)
('CUST_65', 'Female', 34, 'Divorced', 'Insurance Agent', 'Houston', 329, 85, Decimal('83596.24'), 2, 4, Decimal('20601.63'), 1, 1, 7, 1, 6, Decimal('0.70'), Decimal('84862.42'), Decimal('59403.69'), 1, 1)
('CUST_66', 'Female', 38, 'Married', 'Personal Trainer', 'Philadelphia', 505, 1, Decimal('57762.70'), 4, 4, Decimal('47536.86'), 4, 1, 17, 9, 6, Decimal('0.66'), Decimal('83618.49'), Decimal('55188.20'), 3, 0)
('CUST_67', 'Male', 64, 'Divorced', 'HR Manager', 'San Antonio', 512, 43, Decimal('89362.43'), 4, 9, Decimal('47648.56'), 0, 2, 14, 9, 7, Decimal('0.30'), Decimal('84667.57'), Decimal('25400.27'), 5, 1)
('CUST_68', 'Female', 36, 'Single', 'Digital Marketer', 'Washington', 523, 87, Decimal('95691.79'), 1, 7, Decimal('31852.60'), 3, 2, 16, 5, 1, Decimal('0.92'), Decimal('63746.90'), Decimal('58647.15'), 6, 0)
('CUST_69', 'Male', 58, 'Married', 'Investment Banker', 'Denver', 713, 10, Decimal('29562.37'), 1, 2, Decimal('48774.76'), 2, 1, 6, 2, 1, Decimal('0.79'), Decimal('135725.09'), Decimal('107222.82'), 1, 1)
('CUST_7', 'Female', 69, 'Divorced', 'Dentist', 'Denver', 470, 42, Decimal('13866.23'), 2, 4, Decimal('28258.70'), 2, 0, 2, 5, 3, Decimal('0.95'), Decimal('81320.14'), Decimal('77254.13'), 28, 1)
('CUST_70', 'Male', 57, 'Single', 'Chiropractor', 'San Francisco', 507, 44, Decimal('51127.16'), 4, 7, Decimal('15673.00'), 2, 1, 13, 3, 4, Decimal('0.26'), Decimal('72758.79'), Decimal('18917.29'), 10, 0)
('CUST_71', 'Female', 50, 'Married', 'Biologist', 'Houston', 709, 46, Decimal('66487.50'), 3, 3, Decimal('7089.82'), 4, 0, 15, 8, 11, Decimal('0.93'), Decimal('108115.35'), Decimal('100547.28'), 26, 1)
('CUST_72', 'Female', 27, 'Single', 'Engineer', 'Phoenix', 502, 76, Decimal('86587.44'), 4, 6, Decimal('16566.05'), 1, 1, 19, 1, 4, Decimal('0.52'), Decimal('91535.30'), Decimal('47598.36'), 18, 0)
('CUST_73', 'Male', 46, 'Widowed', 'Marketing Manager', 'Houston', 808, 40, Decimal('18496.22'), 3, 5, Decimal('45289.44'), 3, 0, 10, 2, 7, Decimal('0.78'), Decimal('122319.08'), Decimal('95408.88'), 14, 0)
('CUST_74', 'Female', 70, 'Married', 'Scientist', 'Jacksonville', 819, 42, Decimal('84341.84'), 2, 4, Decimal('47930.94'), 4, 0, 6, 6, 13, Decimal('0.57'), Decimal('70823.33'), Decimal('40369.30'), 26, 1)
('CUST_75', 'Female', 30, 'Married', 'Economist', 'Charlotte', 672, 70, Decimal('77604.36'), 3, 5, Decimal('41010.96'), 0, 0, 10, 2, 5, Decimal('0.85'), Decimal('55861.85'), Decimal('47482.57'), 29, 0)
('CUST_76', 'Female', 21, 'Married', 'Translator', 'Dallas', 795, 75, Decimal('1930.53'), 4, 8, Decimal('45290.40'), 0, 1, 19, 0, 8, Decimal('0.93'), Decimal('35085.22'), Decimal('32629.25'), 27, 0)
('CUST_77', 'Male', 26, 'Widowed', 'Engineer', 'Austin', 776, 65, Decimal('51291.84'), 3, 1, Decimal('30970.48'), 1, 1, 6, 7, 7, Decimal('0.92'), Decimal('74712.31'), Decimal('68735.33'), 3, 0)
('CUST_78', 'Female', 31, 'Divorced', 'Biologist', 'Charlotte', 586, 74, Decimal('11756.74'), 1, 1, Decimal('22284.41'), 1, 0, 16, 5, 1, Decimal('0.84'), Decimal('30839.61'), Decimal('25905.27'), 13, 0)
('CUST_79', 'Male', 21, 'Married', 'Interior Designer', 'Houston', 366, 88, Decimal('11622.56'), 3, 5, Decimal('13964.72'), 4, 2, 7, 8, 9, Decimal('0.55'), Decimal('69618.08'), Decimal('38289.94'), 21, 0)
('CUST_8', 'Male', 49, 'Married', 'Producer', 'Austin', 366, 18, Decimal('33422.29'), 3, 8, Decimal('39880.84'), 1, 1, 16, 4, 6, Decimal('0.76'), Decimal('63757.31'), Decimal('48455.56'), 16, 1)
('CUST_80', 'Female', 53, 'Married', 'Therapist', 'Los Angeles', 349, 43, Decimal('73463.74'), 1, 1, Decimal('48630.58'), 2, 0, 19, 9, 0, Decimal('0.22'), Decimal('113528.70'), Decimal('24976.31'), 6, 1)
('CUST_81', 'Female', 39, 'Single', 'Bartender', 'Chicago', 494, 79, Decimal('87851.16'), 1, 5, Decimal('26262.06'), 2, 1, 8, 1, 12, Decimal('0.16'), Decimal('98202.93'), Decimal('15712.47'), 16, 0)
('CUST_82', 'Female', 65, 'Divorced', 'Professor', 'San Jose', 569, 41, Decimal('49620.66'), 3, 4, Decimal('34196.63'), 0, 0, 15, 6, 1, Decimal('0.54'), Decimal('103587.07'), Decimal('55937.02'), 20, 1)
('CUST_83', 'Male', 69, 'Divorced', 'Animator', 'Washington', 681, 81, Decimal('5923.34'), 2, 9, Decimal('26961.59'), 1, 1, 8, 5, 1, Decimal('0.53'), Decimal('30058.76'), Decimal('15931.14'), 15, 0)
('CUST_84', 'Female', 51, 'Married', 'Consultant', 'Jacksonville', 768, 89, Decimal('91379.06'), 2, 6, Decimal('48148.90'), 0, 0, 12, 5, 8, Decimal('0.83'), Decimal('127298.94'), Decimal('105658.12'), 11, 0)
('CUST_85', 'Female', 50, 'Single', 'IT Support Specialist', 'New York', 396, 30, Decimal('98769.89'), 4, 3, Decimal('31171.54'), 1, 1, 2, 2, 9, Decimal('0.24'), Decimal('49434.27'), Decimal('11864.22'), 21, 1)
('CUST_86', 'Female', 45, 'Widowed', 'Researcher', 'Jacksonville', 341, 15, Decimal('63488.66'), 1, 5, Decimal('17331.92'), 1, 1, 9, 8, 0, Decimal('0.43'), Decimal('112575.20'), Decimal('48407.34'), 19, 0)
('CUST_87', 'Male', 72, 'Married', 'Speechwriter', 'Washington', 459, 59, Decimal('67433.22'), 1, 8, Decimal('7425.45'), 2, 1, 12, 7, 8, Decimal('0.21'), Decimal('58376.98'), Decimal('12259.17'), 8, 1)
('CUST_88', 'Male', 41, 'Single', 'Surgeon', 'Austin', 447, 50, Decimal('36617.02'), 4, 6, Decimal('12163.25'), 4, 1, 6, 2, 2, Decimal('0.11'), Decimal('129037.30'), Decimal('14194.10'), 5, 1)
('CUST_89', 'Female', 64, 'Single', 'Musician', 'Jacksonville', 453, 94, Decimal('78006.88'), 4, 4, Decimal('46556.79'), 2, 0, 8, 7, 1, Decimal('0.87'), Decimal('72484.42'), Decimal('63061.45'), 13, 0)
('CUST_9', 'Female', 44, 'Divorced', 'Optometrist', 'San Antonio', 719, 8, Decimal('6693.88'), 4, 5, Decimal('48570.70'), 2, 2, 15, 7, 0, Decimal('0.91'), Decimal('94593.04'), Decimal('86079.67'), 8, 0)
('CUST_90', 'Male', 27, 'Single', 'Lawyer', 'Washington', 532, 26, Decimal('78198.21'), 4, 3, Decimal('39594.12'), 1, 1, 18, 6, 11, Decimal('0.50'), Decimal('54774.12'), Decimal('27387.06'), 18, 0)
('CUST_91', 'Female', 33, 'Married', 'Chiropractor', 'Chicago', 659, 36, Decimal('13534.14'), 3, 5, Decimal('43346.17'), 4, 0, 18, 8, 13, Decimal('0.43'), Decimal('140319.09'), Decimal('60337.21'), 21, 0)
('CUST_92', 'Female', 40, 'Widowed', 'SEO Specialist', 'Dallas', 399, 89, Decimal('46608.64'), 1, 4, Decimal('16675.46'), 3, 1, 1, 5, 13, Decimal('0.94'), Decimal('32389.76'), Decimal('30446.37'), 29, 0)
('CUST_93', 'Female', 62, 'Married', 'Scientist', 'Houston', 513, 59, Decimal('89207.12'), 3, 7, Decimal('21783.14'), 1, 0, 3, 4, 1, Decimal('0.43'), Decimal('146383.53'), Decimal('62944.92'), 1, 0)
('CUST_94', 'Female', 61, 'Married', 'Data Scientist', 'Fort Worth', 399, 3, Decimal('5255.20'), 2, 7, Decimal('44401.52'), 3, 1, 7, 0, 12, Decimal('0.55'), Decimal('140663.19'), Decimal('77364.75'), 20, 1)
('CUST_95', 'Female', 56, 'Widowed', 'Electrician', 'Jacksonville', 440, 7, Decimal('17143.22'), 3, 3, Decimal('14899.49'), 1, 2, 11, 2, 8, Decimal('0.78'), Decimal('97993.31'), Decimal('76434.78'), 29, 0)
('CUST_96', 'Female', 25, 'Widowed', 'Economist', 'Jacksonville', 626, 45, Decimal('77044.10'), 1, 1, Decimal('46118.46'), 1, 1, 16, 7, 0, Decimal('0.60'), Decimal('126731.11'), Decimal('76038.67'), 1, 0)
('CUST_97', 'Male', 66, 'Single', 'Engineer', 'San Antonio', 483, 21, Decimal('73524.75'), 4, 4, Decimal('32310.94'), 4, 1, 16, 5, 3, Decimal('0.21'), Decimal('59553.05'), Decimal('12506.14'), 7, 1)

In [3]:

from groq import Groq

schema_info = """
You have access to the following database schema:
Table 'churn': 
    customer_id (VARCHAR),
    gender (VARCHAR),
    customer_age (INT),
    marital_status (VARCHAR),
    occupation (VARCHAR),
    location (VARCHAR),
    customer_credit_score (INT),
    customer_total_transactions (INT),
    customer_total_cash_balance (DECIMAL),
    customer_total_cards (INT),
    customer_total_accounts (INT),
    customer_total_debt (DECIMAL),
    customer_total_loans (INT),
    customer_total_savings_accounts (INT),
    customer_total_checking_accounts (INT),
    customer_total_credit_accounts (INT),
    customer_total_mortgage_accounts (INT),
    customer_account_utilization_rate (DECIMAL),
    customer_long_term_savings (DECIMAL),
    customer_short_term_savings (DECIMAL),
    customer_active_credit_cards (INT),
    customer_overdue_payments (INT)

Only return a **single SQL query** that answers the question. Do not include any explanations, additional text, or comments. The query should be formatted properly and valid for execution in a MySQL database.
"""

client = Groq(
    api_key=os.environ.get("GROQ_API_KEY"),
)

def answer(question):
    chat_completion = client.chat.completions.create(
        messages=[
            {
                "role": "user",
                "content": schema_info+ "Question: " + question,
            },
            {
                "role": "assistant",
                "content": "```SQL"
            }
        ],
        model="llama3-8b-8192",
    )
    ret = chat_completion.choices[0].message.content
    print(ret)
    return ret

In [4]:
def execute_sql(sql_query):
    connection = mysql.connector.connect(
    host=os.getenv('MYSQL_HOST'),
    user=os.getenv('MYSQL_USER'),
    password=os.getenv('MYSQL_PASSWORD'),
    database=os.getenv('MYSQL_DATABASE')
)

    cursor = connection.cursor();
    try:
        cursor.execute(sql_query)
        result = cursor.fetchall()
    except mysql.connector.Eroor as e:
        print(f"Error: {e}")
        result = None
    finally:
        cursor.close()
        connection.close()
    return result

In [5]:
def get_answer_from_llm(question):
    sql_query = answer(question) 
    result = execute_sql(sql_query)

    if result:
        return f"The answer is: {result}"
    else:
        return "No result found or an error occurred."

In [6]:
print(get_answer_from_llm("How many rows of data are there in the table?"))
print(get_answer_from_llm("How many customers have a credit score above 700?"))
print(get_answer_from_llm("What is the average cash balance of customers who have more than 2 credit accounts and fewer than 3 overdue payments?"))
print(get_answer_from_llm("List the top 5 locations with the highest average customer debt, showing the location and average debt."))
print(get_answer_from_llm("For customers with more than 2 active credit cards, what is the total number of transactions made by customers with a credit score below 600?"))
print(get_answer_from_llm("how many people that are married have more than 2 active credit/debit cards"))

SELECT COUNT(*) AS total_rows FROM churn;
The answer is: [(100,)]

SELECT COUNT(*)
FROM churn
WHERE customer_credit_score > 700;
The answer is: [(23,)]

SELECT AVG(c.customer_total_cash_balance)
FROM churn c
WHERE c.customer_total_credit_accounts > 2 AND c.customer_overdue_payments < 3;
The answer is: [(Decimal('50834.962899'),)]

SELECT location, AVG(customer_total_debt) AS average_debt
FROM churn
GROUP BY location
ORDER BY average_debt DESC
LIMIT 5;
The answer is: [('Los Angeles', Decimal('40452.860000')), ('Denver', Decimal('37942.110000')), ('Philadelphia', Decimal('37613.285000')), ('Jacksonville', Decimal('36831.083333')), ('Dallas', Decimal('33218.710000'))]

SELECT SUM(churn.customer_total_transactions)
FROM churn
WHERE churn.customer_id IN (SELECT churn.customer_id
                            FROM churn
                            WHERE churn.customer_active_credit_cards > 2)
  AND churn.customer_credit_score < 600;
The answer is: [(Decimal('2499'),)]

SELECT COUNT(*)
FROM churn
WHERE marital_status = 'Married' AND customer_active_credit_cards > 2;
The answer is: [(26,)]